/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */

/* Clearfix */
.clearfix{
    content: "";
    display: table;
    clear: both;
}

/* Columns */
.column{
    float: left;
}


/* Containers */
.container-large{
    width: 80%;
    margin: 0 auto;
    /* test */
    background-color: blue;
    height: 300px;
}

.container-small{
    width: 60%;
    margin: 0 auto;
    /* test */
    height: 300px;
    background-color: red;
}

/* Header */
header{
    /* test */
    height: 50px;
    background-color: aquamarine;
}

nav{
    width: 100%;
}

nav .column{
    width: 50%;
    /* test */
    height: 50px;
    border: 4px solid deeppink;
}


/* Main */

/* Banner */
.banner{
    /* test */
    height: 400px;
    background-color: antiquewhite;
}

h1{
    /* test */
    background-color: rgb(70, 3, 148);
}

.banner .column.text{
    width: 40%;
    /* test */
    border: 4px solid deeppink;
    height: 100px;
} 

.banner .column.img{
    width: 60%;
    /* test */
    border: 4px solid deeppink;
    height: 100px;
}

/* Prieces */
.prieces{
    /* test */
    height: 600px;
    background-color: rebeccapurple;
}

.prieces .header{
    /* test */
    height: 100px;
    background-color: cadetblue;
}

.columns{
    width: 100%;
    /* test */
    background-color: rgb(133, 133, 133);
}

.prieces .column.priece{
    width: calc(100%/3);
    /* test */
    border: 4px solid deeppink;
    height: 100px;
}

.prieces .footer{
    /* test */
    height: 100px;
    background-color: rgb(11, 97, 100);
}



/* Partener */
.partner{
    /* test */
    height: 600px;
    background-color: chartreuse;
}


.partner .column{
    width: 50%;
    /* test */
    border: 4px solid deeppink;
    height: 100px;
}





/* Operations */
.operations{
    /* test */
    height: 600px;
    background-color: rgb(23, 114, 50);
}

.operations h2{
    /* test */
    background-color: rgb(131, 243, 243);
}

.row{
    width: 100%;
    /* test */
    height: 130px;
    background-color: rgb(23, 31, 138);
}

.column.operation{
    width: calc(100%/3);
    /* test */
    border: 4px solid deeppink;
    height: 100px;
}











/* Teams */
.teams{
    /* test */
    height: 600px;
    background-color: rgb(235, 139, 14);
}

.teams .container-small.header{
    /* test */
    height: 100px;
}

.teams .main{
    width: 100%;
}

.column.team{
    width: calc(100%/6);
    /* test */
    border: 4px solid deeppink;
    height: 100px;
}

.teams .column.center{
    width: calc(100%/3);
    /* test */
    border: 4px solid deeppink;
    height: 100px;
}

.teams .footer{
    /* test */
    background-color: rgb(138, 104, 104);
    height: 100px;
}

.teams .container-small.foot{
    /* test */
    height: 100px;
}







/* FAQ */
.faq{
    /* test */
    height: 600px;
    background-color: rgb(146, 19, 29);
}

/* Footer */
footer{
    /* test */
    height: 600px;
    background-color: rgb(255, 247, 6);
}