/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */

/* Fonts */
html{
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

/* List */
ul{
    list-style: none;
}

/* Anchor */
a{
    text-decoration: none;
}



/* Image */
img{
    width: 100%;
}

/* Clearfix */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* Buttons */
.button{
    display: inline-block;
    background-color: #0061ff;
    color: white;
    padding: .6em 1.5em;
}

.button:hover{
    filter: opacity(40%);
}

/* Columns */
.column{
    float: left;
}


/* Containers */
.container-large{
    width: 80%;
    margin: 0 auto;
}

.container-small{
    width: 60%;
    margin: 0 auto;
}

/* Text */
.title{
    font-size: 2.5em;
    font-weight: bold;
    padding-top: 1.2em;
    line-height: 1.1em;
}

.title-small{
    font-size: 1.6em;
    line-height: 1.1em;
}

.text-small{
    font-size: 1.1em;
    line-height: 1.2em;
    font-weight: 400;
}



/* Header */

nav{
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 999;
}

nav .column{
    width: 50%;
    
}

nav .menu{
    display: inline-block;
}

nav .menu > li{
    display: inline-block;
    padding-left: 3em;
}

nav .menu a{
    font-size: 1.5em;
    font-weight: 600;
    color: black;
}

nav .menu > li > a{
    display: inline-block;
    line-height: 70px;
}

nav .menu >li > a:hover{
    border-bottom: 2px solid black;
}

/* Left Column */
nav .logo{
    height: 60%;
    width: calc(100%/5);
    display: inline-block;
    line-height: 70px;
    margin-left: 2em;
}

.logo img{
    vertical-align: middle;
}

/* Right Column */
nav .right{
    text-align: right;
}

nav .right .menu > li{
    padding-right: 3em;
    padding-left: 0;
}

nav .relative{
    position: relative;
}


nav .support:hover .submenu{
    display: block;
}

                                    /* Capire perchè prende submenu prende le dimensioni del padre "li" */

nav .submenu{
    display: none;
    position: absolute;
    top: calc(100% - 2px);
    z-index: -1;
    left: -10%;
    background-color: #f5f5f5;
    text-align: left;
    line-height: 4em;
    width: max-content;
    padding: 1em;
}




nav .button{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    background-color: #0061ff;
    color: white;
    padding: .6em 1.5em;
    margin-right: 2em;
}




/* Main */

/* Banner */
.banner{
    margin-top: 70px;
    height: 550px;
    background-color: #b4d0e7;
}

.banner h1{
    font-size: 5em;
    font-weight: bold;
    padding-top: 1.2em;
    line-height: 1.1em;
}

.jumbo{
    padding-top: 4em; 
}

.banner .column.text{
    width: 30%;
    padding-right: 4em;
    
} 


.banner .button{
    margin-top: 2em;
}

.banner .div-annual{
    margin-top: 1em;
}

.banner .annul{

    color: black;
}

.banner .div-icon{
    margin-top: 4em;
}

.banner .icon{
    color: black;
    font-size: 3em;
}

.banner .column.img{
    width: 70%;
}





/* Prieces */
.prieces{
    margin-top: 250px;
}


/* Prieces Header */
.prieces .radio{
    display: inline-block;
    margin: 2em 2em 2em 0;
    font-size: 1.2em;
}



                                    /* Stilizzare i radiobuttons */
.prieces input[type="radio"]{
    vertical-align: middle;
}

.radio label{
    vertical-align: middle;
}





/* Prieces Columns */
.columns{
    width: 100%;
}

.prieces .column.priece{
    width: calc(100%/3 - 4em/3);
}

.prieces .column.priece:nth-child(2){
    margin: 0 2em;
}

.prieces .user{
    border: 1px solid #e7e7e8;
    padding: .5em 0;
    text-align: center;
    font-size: 1.2em;
}

.prieces .offer{
    padding: 1.5em;
    border: 1px solid #e7e7e8;
    border-top: 0;
    min-height: 800px;
}




.plan .euros{
    font-weight: bold;
    padding-top: 1em;
    font-size: 1.2em;
}

.offer span{
    display: block;
}

.plan .per{
    color: #89959f;
}

.prieces .features{
    padding: 2em 0;
}

                            /* Sistemare quando va a capo frase va sotto icona */

.features li{
    margin: .6em 0;
}


.try .button{
    margin-bottom: 2em;
}

.try span{
    display: inline-block;
    padding-bottom: 2em;
    border-bottom: 1px solid #f1f1f2;
}

.try .buy{
    color: #3682ff;
    text-decoration: underline;
}

.highlights h4{
    margin-top: 1.5em;
    font-size: 1.2em;
}

.highlights li{
    margin: 1.5em 0;
}

.highlights span{
    display: inline-block;
    color: #2477ff;
}





/* Prieces Footer */
.prieces .footer{
    padding:3em 0;
}

.prieces .footer .offer{
    min-height: auto;
}

.prieces .footer .enterprise{
    width: 70%;
}

.prieces .footer .office{
    width: 30%;
}

.prieces .footer .office .button{
    display: block;
    margin-top: 1em;
    text-align: center;
}


/* Partener */
.partner{
    padding: 5em 0;
}


.partner .column{
    width: 50%;
}

.partner .text{
    padding: 4em 3em;
}


.partner p.text-small{
    padding: 2em 0;
}


.partner .button{
    background-color: white;
    border: 1px solid black;
    color: black;
    font-weight: 500;
}











/* Operations */
.row{
    width: 100%;
    padding: 4em 0;
}

.row:last-of-type{
    padding-bottom: 10em;
}

.column.operation{
    width: calc(100%/3 - 8em /3);
}

.row .column.operation:nth-child(2){
    margin: 0 4em;
}

.operations .title-small{
    padding: 1em 0;
}

.operations .text-small span{
    text-decoration: underline;
}











/* Teams */
.companies .header a{
    color: #3682ff;
    text-decoration: underline;
    display: inline-block;
    margin: 2em 0 3em;
}


.companies .main{
    width: 100%;
}

.column.teams{
    width: calc(100%/6);
}

.companies .column.center{
    width: calc(100%/3);
    background-color: #f5f5f5;
    padding: 2em;
    min-height: calc(100vw / 3);
    overflow-y: scroll;
}

.logo-container img{
    width: 25%;
    margin: 1em 0;
}

                                    /* Aggiungere la linea sotto il logo nella colonna centrale */


    .center p{
        padding: 2em 0;
    }


    .center span{
        padding: 2em 0;
    }




.teams .team{
    height: calc(100vw/6);
    position: relative;
}

.team img{
    object-fit: contain;
    filter: invert(100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

.team.one{
    background-color: #a2d39b;
    border: 1em solid #d0e9cd ;
}

.team.two{
    background-color:#0093ce ;
}

.team.three{
    background-color:#61082b ;
}

.team.four{
    background-color: #ff1c1c;
}

.team.five{
    background-color:#d5001f ;
}

.team.six{
    background-color: #0d2481;
}

.team.seven{
    background-color: #b4d0e7;
}

.team.eight{
    background-color: #ffd830;
}






.companies .footer{
    background-color: #b4d0e7;
}

.footer .column{
    width: 50%;
}

.companies .container-small.foot{
    padding: 7em 0;
}

.companies .footer .title{
    padding: 0;
    color: #61082b;
}

.companies .footer .col-btn{
    text-align: center;
}

.companies .footer .button{
    background-color: white;
    color: black;
    padding: .5em 4em;
}







/* FAQ */

.faq .title{
    padding-top: 4em;
}

.faq .questions{
    padding: 3em 0 10em;
}

.faq .question{
    border-top: 1px solid  grey;
    padding: 2em 0;
}

.faq .questions .question:last-child{
    border-bottom: 1px solid grey;
}

.faq .column.text{
    width: 70%;
}

.faq .column.icons{
    width: 30%;
}

.faq .text h4{
    font-size: 1.4em;
    line-height: 1.2;
}

.faq .text p{
    display: none;
    color: #89959f;
    padding: 2em 0;
}

.faq .icons{
    text-align: right;
    font-size: 2.5em;
    padding-right: 1em;
}

.faq .icons .icon.up{
    display: none;
}

.faq .question:hover .text>p{
    display: block;
}

.faq .question:hover .icon.down{
    display: none;
}

.faq .question:hover .icon.up{
    display: block;
}





/* Footer */
footer{
    background-color: black;
    color: white;
}

footer .column{
    width: calc(100% / 5);
}

footer h4{
    font-size: 1.3em;
    font-weight: bold;
    padding: 6em 0 1.2em;
}

footer li{
    padding: .5em 0}

footer a{
    color: inherit;
}

footer a:hover{
    text-decoration: underline;
}

footer span{
    display: inline-block;
    margin-top: 4em;
    padding: 2em 0;
    color: #666666;
    border-top: 2px solid #303030;
}